body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #036345;
    margin: 0;
    padding: 0;
    color: #2ecc71;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

header {
    background-color: #0f4b0377;
    color: white;
    padding: 2rem;
    text-align: center;
    border: solid 5px #27ae60;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.search-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #aaf6ca;
}

button {
    background-color: #27ae60;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2ecc71;
}

#bookResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.book-card {
    background: rgb(156, 231, 163);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.book-card h3 {
    font-size: 1.1rem;
    margin: 10px 0;
}

.book-card p {
    font-size: 0.9rem;
    color: #666;
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    background-color: #298a1e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
/* Añadir esto a tu style.css */
.source-badge {
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 0.7rem;
    padding: 2px 8px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.book-card h3 {
    min-height: 3rem; /* Alinea los títulos */
}

.search-container input[type="text"] {
    flex-grow: 0;
    width: 20%;
}

/* Asegura que los botones de ayuda externa ocupen todo el ancho necesario */
.external-buttons {
    width: 100% !important;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.external-buttons button {
    flex-grow: 0;
    max-width: 200px;
    margin-bottom: 10px;
}

/*@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }
}     
    .search-container input[type="number"] {
        width: auto;
    }
} */